@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "¡Confirmado con éxito!";
}

<h1 class="text-center" style="color: white;  margin-top: 80px;">@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" class="text-center" />
