@model AgendaEstudiantil.Models.Evento

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center" style="color: white;  margin-top: 80px;">Crear</h1>

<h4 class="text-center" style="color: white;">Evento</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label" style="color:white"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label" style="color:white"></label>
                <input asp-for="Fecha" class="form-control" type="date" min="@DateTime.Today.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label" style="color:white"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" style="background-color: #1565C0; color: white; font-weight: bold; margin-top:20px" />
            </div>
        </form>
    </div>
</div>

<div class="text-center" style="margin-top: 20px;">
    <a asp-action="Index" style="color: white">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
