@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4" style="color: white; margin-top: 100px;"><strong>Estudia con orden, vive con calma.</strong></h1><br>
    <p style="color: white; font-size: 20px">
        Lleva el control de tus clases, tareas, exámenes y proyectos desde un solo lugar. <br>
        Con nuestra agenda estudiantil, organizar tu tiempo nunca fue tan fácil. Planifica<br>
        tus días, recibe recordatorios y mejora tu rendimiento académico sin estrés.
    </p>

    <a href="/Identity/Account/Register" class="btn btn-outline-light btn-lg mt-4 px-4 py-2" style="border-width: 2px;">
        Empieza ahora
    </a>

</div>
